@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    font-family: "Poppins", sans-serif;
}

#main {
    width: 100%;
    height: 100%;
    background: #000;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 65%;
    padding: 0px 50px;
    height: 70px;
    color: #fff;
    position: fixed;
    top: 0;
    bottom: 100%;
}
header .hleft {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 40px;
}
header .hleft h3 {
    font-size: 16px;
    font-weight: 500;
}

header .hleft ul {
    display: flex;
    align-items: center;
    justify-content: start;
    list-style-type: none;
    gap: 20px;
}
header .hleft ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}
header .hleft .icon {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100px;
}

i {
    padding: 5px;
    border: 1px solid #fff;
    font-size: 12px;
    border-radius: 50px;



}


#page {
    width: 100%;
    height: 100Vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
}

#page .left h2 {
    font-size: 8vw;
    color: #fff;
    line-height: 140px;

}

#page .left .head1 {
    color: yellow;
    font-weight: 500;
}
#page .left .head2 {
    margin-left: 150px;
    font-weight: 500;
}
#page .left .head3 {
    margin-left: 300px;
    font-weight: 500;
    position: absolute;
    z-index: 999999999;
}
.cricle {
    display: block;
    width: 500px;
    height: 500px;
    border: 1px solid #fff;
    z-index: 9999999;
    border-radius: 50%;
   position: absolute;
   left: -170px;
   top: 500px;
}
.yells {
    position: absolute;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 40px;
}

.yells .hsss {
    display: block;
    background: yellow;
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
.ri-arrow-right-line {
    border: none;
    font-size: 30px;
    z-index: 9999999999;
    position: absolute;
    color: #fff;
    left: 40px;
    top: 5px;
}

/* Right */
#page .right {
    width: 35%;
    position: relative;
}
#page .right img {
    object-fit: cover;
    width: 100%;

}
